RewriteEngine On

# Cache
Header unset Pragma
Header unset Last-Modified

# Redireciona arquivos públicos diretamente
RewriteRule ^(.+/publics/.+)$ ./modules/$1 [L]

# Move todo conteúdo para index.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]

# Compacta o código com GZIP
<IfModule mod_php5.c>
	php_value output_handler ob_gzhandler
</IfModule>

# Faz o cache dos arquivos públicos
<filesMatch "\.(jpg|png|js|css)$">
	FileETag MTime
</filesMatch>